<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Bootstrap CSS -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF"
	crossorigin="anonymous">
<title>FWF</title>
</head>

<body>

	<div class="container">
		<br><br>

		<h4>Fhotos With Friends</h4>
		<br><br>

		<a class="btn btn-primary" data-bs-toggle="collapse"
			th:href="@{/posts/list}" role="button" aria-expanded="false"
			aria-controls="collapseExample">View Posts</a>
<br><br>
		<p class="h4 mb-4">Create Post</p>
<br><br>
		<form action="#" th:action="@{/posts/save}" th:object="${faculty}"
			method="POST" enctype="multipart/form-data">

			<!-- invisible form as needed to update info -->
			<input type="hidden" th:field="*{id}" /> <input type="text"
				th:field="*{firstName}" class="form-control mb-4 col"
				placeholder="Name"> <input type="text"
				th:field="*{lastName}" class="form-control mb-4 col"
				placeholder="Title"> <input type="text"
				th:field="*{Title}" class="form-control mb-4 col"
				placeholder="Description"> <input
				type="file" name="image" accept="image/png, image/jpeg" />
			<button type="submit" class="btn btn-primary col-2">Post</button>

		</form>

	</div>

</body>


</html>